* {
    box-sizing: border-box;
}

h1, h3 {
    background-color: lightblue;
    font: "Times New Roman";
    color: white;
    max-width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    padding: 6px;
}

li {
    color: white;
    padding: 2px;
}

p {
    color: white;
    text-align: center;
}


body {
    background-color: lightseagreen;
}
